body{
	/*background-image: url("images/beach-sunset-thailand.jpg");*/
	background: url("images/Skype_Picture_2019_10_28T00_51_36_222Z.jpeg") no-repeat center center scroll;
	background-color: #cccccc;
	background-position: center;
	background-size: cover;
	position:relative;
	margin: 0;
}

#main{
	position:relative;
	
	width:35%;
	padding-top:35%;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	text-align:center;
	
	border-radius:50%;
	background-color: rgba(204, 204, 204, 0.3);
}

#about{
	position:relative;
	padding:0;
	margin:0;
	left:0;
	width:100%;
	height: 100px;
	background-color: #ffffff;
}

.buttonCircular{
	border-radius:50%;
	cursor:pointer;
}

.text{
	position:absolute;
	top:10%;
	left:0;
	bottom:0;
	right:0;
}

.text h1{
	color: #ffffff;
	font-family: "Spectral";
	font-weight: bold;
	font-size: 2.5vw;
}